# Build artifacts
*.pyc
__pycache__/

# Downloaded dependencies (like NVIDIA CUDA images)
build/11.3.1/ubuntu1604/external/cuda/

# TensorFlow build specific
bazel-*
_bazel_*

# Distribution files
*.whl
dist/
*.tar.gz

# IDE / Editor specific
.vscode/
.idea/
*.swp
*~ 
